<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="c3itop.qt.conf_actionset"
            label="conf_actionset"
            visible="true">
         <menu
               id="c3itop.qt.conf_menu"
               label="%MainMenu.name"
               path="additions">
         </menu>
         <action
               class="c3itop.qt.context.actions.QtNmakeContextAction"
               definitionId="c3itop.qt.definitionId.nmake"
               icon="icons/make.gif"
               id="c3itop.qt.nmake_action"
               label="%nmakeAction"
               menubarPath="c3itop.qt.conf_menu/gmk2"
               toolbarPath="conf_separator"
               tooltip="Nmake">
         </action>
         <action
               class="c3itop.qt.context.actions.QtConfigureContextAction"
               definitionId="c3itop.qt.definitionId.configure"
               icon="icons/conf.gif"
               id="c3itop.qt.configure_action"
               label="%configureAction"
               menubarPath="c3itop.qt.conf_menu/gmk1"
               toolbarPath="conf_separator"
               tooltip="Configure">
         </action>
         <action
               class="c3itop.qt.actions.TestAction"
               icon="icons/recycle.jpg"
               id="qt-plugin.action1"
               label="Test"
               menubarPath="c3itop.qt.conf_menu/gmk2"
               toolbarPath="conf_separator"
               tooltip="Test">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="c3itop.qt.conf_objectContribution"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <action
               class="c3itop.qt.context.actions.QtNmakeContextAction"
               definitionId="c3itop.qt.definitionId.nmake"
               icon="icons/make.gif"
               id="c3itop.qt.nmakeContextAction"
               label="%nmakeContextAction">
         </action>
         <action
               class="c3itop.qt.context.actions.QtConfigureContextAction"
               definitionId="c3itop.qt.definitionId.configure"
               icon="icons/conf.gif"
               id="c3itop.qt.configureContextAction"
               label="%configureContextAction">
         </action>
         <action
               class="c3itop.qt.context.actions.CleanOneAtion"
               id="c3itop.qt.cleanOneProject"
               label="%cleanOneAction">
         </action>
         <action
               class="c3itop.qt.context.actions.CleanAllAction"
               id="c3itop.qt.cleanAllProject"
               label="%cleanAllAction">
         </action>
         <action
               class="c3itop.qt.context.actions.TestContextAction"
               icon="icons/sample.gif"
               id="c3itop.qt.testAction"
               label="Test">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="c3itop.qt.launchConfiguration"
            name="%launchConfName"
            delegate="org.eclipse.jdt.internal.launching.JavaLocalApplicationLaunchConfigurationDelegate"
	 	    modes= "run, debug"
	   		sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
       		sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="c3itop.qt.qtcategory"
            class="c3itop.qt.wizards.QtProjectWizard"
            icon="icons/recycle.jpg"
            id="qt-eclipse-1.0.wizard1"
            name="%qtprojectnmae"
            project="true">
      </wizard>
      <category
            id="c3itop.qt.qtcategory"
            name="%categoryNmae">
      </category>
   </extension>

</plugin>
